## Pandas üêº

- Used for data manipulation and analysis

## Install pandas üêº

```bash
pip install pandas
```

---

## Import pandas & check version

In [1]:
import pandas as pd
pd.__version__

'2.0.3'

---

## DataFrames in pandas

- A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

## Series in pandas

- A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list. `**A Series is, in essence, a single column of a DataFrame.**`

---

## Creating a DataFrame

In [3]:
myDF = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(myDF)

print("-----------------------------------")

## using custom index instead of default index (0, 1, 2, ...)
myDF = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])
print(myDF)

   A  B
0  1  4
1  2  5
2  3  6
-----------------------------------
   A  B
a  1  4
b  2  5
c  3  6

---

## Creating a Series

In [4]:
mySeries = pd.Series([1, 2, 3, 4, 5])
print(mySeries)

print("-----------------------------------")

# using custom index
mySeries = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(mySeries)

print("-----------------------------------")

# since, series is like a column in a table, we can give it a name
mySeries = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'], name="My Series")
print(mySeries)

0    1
1    2
2    3
3    4
4    5
dtype: int64
-----------------------------------
a    1
b    2
c    3
d    4
e    5
dtype: int64
-----------------------------------
a    1
b    2
c    3
d    4
e    5
Name: My Series, dtype: int64

## Series Vs DataFrame

- Series is a list, while DataFrame is a dictionary.

- Series is a column, while DataFrame is a table.

---

## Writing these DataFrames to a file

In [16]:
# writing to file
myDF = pd.DataFrame({'a': [1,2,3,7,8,9,10,11,12], 'b': [4,5,6,13,14,15,16,17,18]})
myDF.to_csv('myDF.csv', index=False) # index=False to not write the index column

---

## Reading a CSV file

In [32]:
df = pd.read_csv('myDF.csv', index_col=None, header=0)

## read_csv function has many parameters, but the most important ones are:
# index_col: column to use as the row labels of the DataFrame. By default, an index is created from 0 to n-1, where n is the number of rows in the DataFrame. If you pass a column name to this parameter, then this column will be used as the row labels.

# header: row number(s) to use as the column names, and the start of the data. By default, the first row is used as the column names. If you pass a list of integers to this parameter, then these row numbers will be used as the column names.

print(df)

    a   b
0   1   4
1   2   5
2   3   6
3   7  13
4   8  14
5   9  15
6  10  16
7  11  17
8  12  18

---

## Finding shape of the data

In [18]:
df.shape

(9, 2)

---

## Viewing first 5 or last 5 rows

In [20]:
print(f"first 5 rows: \n{df.head()}")

print("--------------------")

print(f"last 5 rows: \n{df.tail()}")

print("--------------------")

print(f"first n rows: \n{df.head(3)}")

first 5 rows:
   a   b
0  1   4
1  2   5
2  3   6
3  7  13
4  8  14
--------------------
last 5 rows:
    a   b
4   8  14
5   9  15
6  10  16
7  11  17
8  12  18
--------------------
first n rows:
   a  b
0  1  4
1  2  5
2  3  6

---

## Indexing, selecting & assigning

In [39]:
# let's create a dataframe that we will be using for the rest of the notebook

df = pd.DataFrame({
    "Name":['John', 'Jane', 'Sue', 'Fred'],
    "Age":[23, 29, 21, 18],
    "email":['john@gmail.com', 'Jane@gmail.com', 'Sue@gmail.com', 'Fred@gmail.com'],
},
index=['a','b','c','d'])

df

   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  Jane@gmail.com
c   Sue   21   Sue@gmail.com
d  Fred   18  Fred@gmail.com

## selecting on the basis of `column names`

In [40]:
print(df.Name)

print("--------------------")

print(df['email']) # same as above, but better for column names with spaces

print("--------------------")

print(df['Age'][3])

a    John
b    Jane
c     Sue
d    Fred
Name: Name, dtype: object
--------------------
a    john@gmail.com
b    Jane@gmail.com
c     Sue@gmail.com
d    Fred@gmail.com
Name: email, dtype: object
--------------------
18

---

## iloc and loc

- iloc: integer location. Use when you want to select rows and columns by their integer location.

- loc: label location. Use when you want to select rows and columns by their label.

### Note ‚ö†Ô∏è
    - `iloc`: the last index is not included (exclusive)
    - `loc`: the last index is included (inclusive). This is bcoz, we're selecting by labels, and if we're selecting by labels, we want to include the last label.

    - **Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.**

In [45]:
print(df.iloc[0:3, 0:2]) # selecting on the basis of index (including start but excluding end)

print("-------------------------")

print(df.loc[['a','c'], "Name":"email"]) # selecting on the basis of label (including both start and end)

   Name  Age
a  John   23
b  Jane   29
c   Sue   21
-------------------------
   Name  Age           email
a  John   23  john@gmail.com
c   Sue   21   Sue@gmail.com

---

> #### If you see `loc` with integers, it means that the index is an integer index. If you see `loc` with strings, it means that the index is a string index.

---

## Note üî¥

- when the DataFrame index is a simple numerical list, e.g. 0,...,1000.
- In this case `df.iloc[0:1000] will return 1000 entries`,
- while `df.loc[0:1000] return 1001 of them`! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].

---

## Conditional Selection ‚ú¥Ô∏è‚≠ê

In [61]:
print(df)

print("------------------------")

# selecting a column with age greater than 21

print(df.Age > 21)

print("------------------------")

# we can also use the `loc` method to select a column
print(df.loc[df.Age > 21])

print("------------------------")

# printing the rows with age greater than 21
print(df[df.Age > 21]) # this is the same as the previous one. The condition will act as the row index.

print("------------------------")

# printing the rows with age greater than 21 and name equal to 'John'
print(df[(df.Age > 21) & (df.Name == 'John')]) # combining conditions via `&`

print("------------------------")

# printing the rows with age greater than 21 or name equal to 'Sue'
print(df[(df.Age > 21) | (df.Name == 'Sue')]) # combining conditions via `|`

print("------------------------")

# printing only names and emails of the rows with age greater than 21
print(df.loc[(df.Age > 21), ['Name', 'email']])

   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  Jane@gmail.com
c   Sue   21   Sue@gmail.com
d  Fred   18  Fred@gmail.com
------------------------
a     True
b     True
c    False
d    False
Name: Age, dtype: bool
------------------------
   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  Jane@gmail.com
------------------------
   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  Jane@gmail.com
------------------------
   Name  Age           email
a  John   23  john@gmail.com
------------------------
   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  Jane@gmail.com
c   Sue   21   Sue@gmail.com
------------------------
   Name           email
a  John  john@gmail.com
b  Jane  Jane@gmail.com

---

## Assigning data

-  we can set the value as a list of values, or use range function, or a constant value

In [63]:
print(df.email)
df['email'] = df['email'].str.lower() # we can also pass a list of values, or use range function, or a constant value
print("--------------------")
print(df.email)

a    john@gmail.com
b    jane@gmail.com
c     sue@gmail.com
d    fred@gmail.com
Name: email, dtype: object
--------------------
a    john@gmail.com
b    jane@gmail.com
c     sue@gmail.com
d    fred@gmail.com
Name: email, dtype: object

---

## Summary functions

### Describe method:
    - Describes the data. If we select a particular column and then call `describe()` on it, it will give us the summary statistics for that column. It is type-aware. For example, if we have a column of strings, it will return different statistics than if we have a column of numbers.

In [72]:
print(df)

print("-----------------------------------")

print(df.describe()) # returns mathematical statistics about the data with numerical values

print("-----------------------------------")

# describe() can be used on a single column as well
print(df['Age'].describe())

print("-----------------------------------")

# calling describe() on a non-numerical column
print(df['Name'].describe())

print("-----------------------------------")

# getting mean of a column
print(df['Age'].mean())

print("-----------------------------------")

   Name  Age           email
a  John   23  john@gmail.com
b  Jane   29  jane@gmail.com
c   Sue   21   sue@gmail.com
d  Fred   18  fred@gmail.com
-----------------------------------
             Age
count   4.000000
mean   22.750000
std     4.645787
min    18.000000
25%    20.250000
50%    22.000000
75%    24.500000
max    29.000000
-----------------------------------
count     4.000000
mean     22.750000
std       4.645787
min      18.000000
25%      20.250000
50%      22.000000
75%      24.500000
max      29.000000
Name: Age, dtype: float64
-----------------------------------
count        4
unique       4
top       John
freq         1
Name: Name, dtype: object
-----------------------------------
22.75
-----------------------------------

In [71]:
# getting unique names
print(df['Name'].unique())

print("-----------------------------------")

# getting number of unique names
print(df['Name'].value_counts())

['John' 'Jane' 'Sue' 'Fred']
-----------------------------------
Name
John    1
Jane    1
Sue     1
Fred    1
Name: count, dtype: int64

---

## Map, Apply & Applymap